:root {
  --bg-dark-custom-primary: #00843d;
  --bg-light-custom-primary: #e1eedd;
  --text-custom-primary: #ffcd00;
}

body {
  background-color: var(--bg-light-custom-primary);
}

section {
  padding: 10px 0;
}

.bg-custom-dark {
  background-color: var(--bg-dark-custom-primary);
}

.navbar-brand,
.nav-link,
.text-custom {
  color: var(--text-custom-primary);
}

.text-custom-heading {
  color: var(--bg-dark-custom-primary);
}

.bg-custom-light {
  background-color: var(--bg-light-custom-primary);
}

.text-highlight {
  font-weight: 700;
  color: var(--bg-dark-custom-primary);
}

.list-group-item {
  background-color: var(--bg-dark-custom-primary);
  color: var(--text-custom-primary);
}

.list-group-item.active,
.list-group-item:hover {
  background-color: var(--text-custom-primary);
  color: var(--bg-dark-custom-primary);
  border: 0;
}

.link-icon {
  color: var(--text-custom-primary);
}

.link-icon:hover {
  color: #fff;
}

.page-link {
  color: var(--bg-dark-custom-primary);
}

.active > .page-link,
.page-link.active {
  background-color: var(--bg-dark-custom-primary);
  border-color: var(--bg-dark-custom-primary);
}
.pagination .page-link:focus {
  box-shadow: 0 0 0 0.25rem #fff;
}

/* Swiper */
.swiper {
  width: 70%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--bg-dark-custom-primary) !important;
}
.swiper-pagination-bullet {
  background-color: var(--bg-dark-custom-primary) !important;
}

.blockquote {
  padding: 2rem;
}
.blockquote-credit::before {
  content: "\2014\0020";
  font-size: 1.5rem;
}
.quote-swiper {
  clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 80%;
}
a {
  color: #fff;
}
a:hover {
  color: var(--text-custom-primary);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  height: 100px;
  width: 100px;
}
